<ng-template #coloredText>
    <p [ngStyle]="{'color':colorselected}">The user's chosen colour is {{colorselected}}</p>
</ng-template>

<div class = "container">
    <div class="containerinput">
        <input type="text" class="form-control" placeholder="Enter the colour" [(ngModel)]="userColor">
        <button class="btn btn-primary" (click)="changecolor()">change</button>
    </div>
    <div *ngTemplateOutlet="coloredText"></div>
    <paragraph [colorselected]="colorselected">
        <h4 class="dynamicText">ng-content </h4>
    </paragraph>
</div>

